<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h2 class="title" style="color: #1d91e8;font-weight: bolder;font-family: Roboto"><strong>Rate My Tutor</strong>
      </h2>

    </div>

    <div class="col-md-6">

    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-raised" style="background-color: white">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-profile card-plain" style="margin-top: 0px">
              <div class="col-md-3" style="padding:50px 50px 0px 50px">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="../../assets/img/avatar.jpg">
                  </a>
                </div>
              </div>
              <div class="col-md-9" style="padding-top: 50px">
                <div style="text-align: left;">
                  <p class="card-title"
                     style="align-items: left;font-size: 40px;padding-top: 15px">Alec Thompson</p>
                  <div class="star-rating" title="20%" style="justify-content: left">
                    <h4 class="card-title" style="font-size: 20px;color: sandybrown"> 4.2</h4>
                    <div class="back-stars" style="justify-content: left">
                      <i class="material-icons" style="font-size: 36px">star_border</i>
                      <i class="material-icons" style="font-size: 36px">star_border</i>
                      <i class="material-icons" style="font-size: 36px">star_border</i>
                      <i class="material-icons" style="font-size: 36px">star_border</i>
                      <i class="material-icons" style="font-size: 36px">star_border</i>
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->

                      <div class="front-stars" style="width: 35%"
                           style="justify-content: left">
                        <i class="material-icons" style="font-size: 36px">star</i>
                        <i class="material-icons" style="font-size: 36px">star</i>
                        <i class="material-icons" style="font-size: 36px">star</i>
                        <i class="material-icons" style="font-size: 36px">star</i>
                        <i class="material-icons" style="font-size: 36px">star</i>
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      </div>
                    </div>
                    <br>
                    <div style="justify-content: center;padding-left: 30px">
                      <h4 class="card-title" style="font-size: 25px;color: slategray;"> IMS,
                        Nugegoda</h4>
                    </div>
                  </div>
                  <div style="text-align: start">
                    <p class="card-title" style="font-size: 15px;color: slategray;"> 126
                      reviews</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <h3 style="text-align: center;font-weight: 800">Teacher Rating</h3>
        </div>
        <!--Completion of syllabus on time-->
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <p style="margin-top: 27px;font-size: 16px;font-weight: 800">Completion of syllabus on
              time</p>
            <p>(නියමිත වේලාවට විෂය නිර්දේශය සම්පූර්ණ කිරීම)</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="4.7"
                       style="font-size: 14px;font-weight: 800;text-align: center">
              </div>
              <div class="col-md-6" style="margin-top: 27px;padding-top: 7px;padding-bottom: 7px;">

                <!--<input type="text" class="form-control" placeholder="/ 5"-->
                <!--aria-describedby="basic-addon2" readonly>-->
                <span class="badge badge-primary" style="font-size: 16px">/5</span>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="row">
              <div class="star-rating" title="20%" style="margin-top: 27px">
                <div class="back-stars">
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->

                  <div class="front-stars" style="width: 35%">
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Quality of revision material-->
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <p style="margin-top: 27px;font-size: 16px;font-weight: 800">Quality of revision
              material</p>
            <p>(සංශෝධන ද්රව්යයේ ගුණාත්මකභාවය)</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="4.7"
                       style="font-size: 14px;font-weight: 800;text-align: center">
              </div>
              <div class="col-md-6" style="margin-top: 27px;padding-top: 7px;padding-bottom: 7px;">

                <!--<input type="text" class="form-control" placeholder="/ 5"-->
                <!--aria-describedby="basic-addon2" readonly>-->
                <span class="badge badge-primary" style="font-size: 16px">/5</span>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="row">
              <div class="star-rating" title="20%" style="margin-top: 27px">
                <div class="back-stars">
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->

                  <div class="front-stars" style="width: 35%">
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Timelines of marking tutorials-->
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <p style="margin-top: 27px;font-size: 16px;font-weight: 800">Timelines of marking
              tutorials</p>
            <p>(නිබන්ධන සලකුණු කිරීමේ කාල සටහන්)</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="4.7"
                       style="font-size: 14px;font-weight: 800;text-align: center">
              </div>
              <div class="col-md-6" style="margin-top: 27px;padding-top: 7px;padding-bottom: 7px;">

                <!--<input type="text" class="form-control" placeholder="/ 5"-->
                <!--aria-describedby="basic-addon2" readonly>-->
                <span class="badge badge-primary" style="font-size: 16px">/5</span>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="row">
              <div class="star-rating" title="20%" style="margin-top: 27px">
                <div class="back-stars">
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->

                  <div class="front-stars" style="width: 35%">
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Availability for consultation outside class hours-->
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <p style="margin-top: 27px;font-size: 16px;font-weight: 800">Availability for consultation
              outside class hours</p>
            <p>(පන්ති කාලසීමාවකින් බාහිර උපදෙස් ලබා ගැනීම)</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="4.7"
                       style="font-size: 14px;font-weight: 800;text-align: center">
              </div>
              <div class="col-md-6" style="margin-top: 27px;padding-top: 7px;padding-bottom: 7px;">

                <!--<input type="text" class="form-control" placeholder="/ 5"-->
                <!--aria-describedby="basic-addon2" readonly>-->
                <span class="badge badge-primary" style="font-size: 16px">/5</span>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="row">
              <div class="star-rating" title="20%" style="margin-top: 27px">
                <div class="back-stars">
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->

                  <div class="front-stars" style="width: 35%">
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Presentation Style-->
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <p style="margin-top: 27px;font-size: 16px;font-weight: 800">Presentation Style</p>
            <p>(ඉදිරිපත් කිරීමේ විලාසය)</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="4.7"
                       style="font-size: 14px;font-weight: 800;text-align: center">
              </div>
              <div class="col-md-6" style="margin-top: 27px;padding-top: 7px;padding-bottom: 7px;">

                <!--<input type="text" class="form-control" placeholder="/ 5"-->
                <!--aria-describedby="basic-addon2" readonly>-->
                <span class="badge badge-primary" style="font-size: 16px">/5</span>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="row">
              <div class="star-rating" title="20%" style="margin-top: 27px">
                <div class="back-stars">
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <i class="material-icons" style="font-size: 36px">star_border</i>
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  <!--<i class="fa fa-star" aria-hidden="true"></i>-->

                  <div class="front-stars" style="width: 35%">
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <i class="material-icons" style="font-size: 36px">star</i>
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <p style="margin-top: 27px;font-size: 16px;font-weight: 800">Comment (Optional)</p>
            </div>
            <div class="card">
              <div class="form-group is-empty" style="padding: 0 10px 10px 10px"><textarea class="form-control"
                                                                                           placeholder="Type your comment here..."
                                                                                           rows="6"></textarea><span
                class="material-input"></span></div>
            </div>

          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10" style="text-align: right">
            <a href="#" target="_blank" class="btn  btn-rose">
              <strong>
                Submit
              </strong>
            </a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
