<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" routerLink="/main"><strong>Best Tutor</strong></a>
    </div>

    <div class="collpase navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" routerLink="/main">
            <i class="material-icons">home</i> Home
          </a>
        </li>

        <li>
          <a href="#">
            <i class="material-icons">favorite</i> About
          </a>
        </li>

        <li>
          <a href="#" routerLink="/forum">
            <i class="material-icons">forum</i> Forum
          </a>
        </li>
        <li>
          <a href="#">
            <i class="material-icons">contact_support</i> Contact
          </a>
        </li>

        <li>
          <a href="#" target="" routerLink="/sign-in" class="btn  btn-rose btn-round">
            Sign In
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
