<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h1 class="title" style="color: #005ABC;font-weight: bolder;font-family: Roboto, Helvetica, Arial, sans-serif"><strong>BestTutor.lk</strong></h1>
      <h2 style="color: #005ABC;font-weight: bolder">Lorem Ipsum is simply dummy </h2>
      <h3 style="color: #0b2e13">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
      <br>
      <a href="#" routerLink="/find" class="btn  btn-rose">
        <strong>
          Find My Tutor
        </strong>
      </a>
      <br>
      <a href="#" class="btn btn-rose-invert" style="border-color: #00bbff;border-bottom-style: initial;border-bottom-width: thick">
        <strong>
          Rate My Tutor
        </strong>
      </a>
    </div>
    <div class="col-md-6">

    </div>

  </div>
</div>
