<!--Navigation Section-->
<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
  <div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
      <button class="btn btn-rose btn-block btn-sm">Start a Discussion</button>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">

      <div class="row" style="padding-left: 15px;padding-right: 15px;">
        <i class="fas fa-comments" style="color: #005ABC;"></i>
        <a><strong>  All Discussions</strong></a>
      </div>
      <div class="row" style="padding-left: 15px;padding-right: 15px;">
        <i class="fas fa-tags" style="color: #005ABC;"></i>
        <a><strong>  Tags</strong></a>
      </div>

      <div class="row" style="padding-left: 15px;padding-right: 15px;">
        <i class="fas fa-stop" style="color: #EB6E00;"></i>
        <a><strong>  GCE A/L</strong></a>
      </div>
      <div class="row" style="padding-left: 15px;padding-right: 15px;">
        <i class="fas fa-stop" style="color: #EB6E00;"></i>
        <a><strong>  General</strong></a>
      </div>
      <div class="row" style="padding-left: 15px;padding-right: 15px;">
        <i class="fas fa-stop" style="color: #EB6E00;"></i>
        <a><strong>  Higher Education</strong></a>
      </div>
      <div class="row" style="padding-left: 15px;padding-right: 15px;">
        <i class="fas fa-stop" style="color: #EB6E00;"></i>
        <a><strong>  Arduino</strong></a>
      </div>
      <div class="row" style="padding-left: 15px;padding-right: 15px;">
        <i class="fas fa-stop" style="color: #EB6E00;"></i>
        <a><strong>  IoT</strong></a>
      </div>
      <!--Place the list here-->

    </div>
  </div>

</div>
