<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h2 class="title" style="color: #1d91e8;font-weight: bolder;font-family: Roboto"><strong>Rate My
        Tutor</strong></h2>

    </div>

    <div class="col-md-6">

    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-raised" style="background-color: white">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-profile card-plain" style="margin-top: 0px">
              <div class="col-md-3" style="padding:50px 50px 0px 50px">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="../../assets/img/avatar.jpg">
                  </a>
                </div>
              </div>
              <div class="col-md-9" style="padding-top: 50px">
                <div style="text-align: left;">
                  <p class="card-title"
                     style="align-items: left;font-size: 40px;padding-top: 15px">Alec Thompson</p>
                  <div class="star-rating" title="20%" style="justify-content: left">
                    <h4 class="card-title" style="font-size: 20px;color: sandybrown"> 4.2</h4>
                    <div class="back-stars" style="justify-content: left">
                      <i class="material-icons" style="font-size: 36px">star_border</i>
                      <i class="material-icons" style="font-size: 36px">star_border</i>
                      <i class="material-icons" style="font-size: 36px">star_border</i>
                      <i class="material-icons" style="font-size: 36px">star_border</i>
                      <i class="material-icons" style="font-size: 36px">star_border</i>
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->

                      <div class="front-stars" style="width: 35%"
                           style="justify-content: left">
                        <i class="material-icons" style="font-size: 36px">star</i>
                        <i class="material-icons" style="font-size: 36px">star</i>
                        <i class="material-icons" style="font-size: 36px">star</i>
                        <i class="material-icons" style="font-size: 36px">star</i>
                        <i class="material-icons" style="font-size: 36px">star</i>
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      </div>
                    </div>
                    <br>
                    <div style="justify-content: center;padding-left: 30px">
                      <h4 class="card-title" style="font-size: 25px;color: slategray;"> IMS,
                        Nugegoda</h4>
                    </div>
                  </div>
                  <div style="text-align: start">
                    <p class="card-title" style="font-size: 15px;color: slategray;"> 126
                      reviews</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 40px">
            <h4>Timetable</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Class</th>
                  <th>Location</th>
                  <th>Time</th>
                  <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>2020 A/L</td>
                  <td>SASIP,Nugegoda</td>
                  <td>8.30AM - 12.30PM</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info"
                            data-original-title="" title="">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success"
                            data-original-title="" title="">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger"
                            data-original-title="" title="">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>2020 A/L</td>
                  <td>SASIP,Nugegoda</td>
                  <td>8.30AM - 12.30PM</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info"
                            data-original-title="" title="">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success"
                            data-original-title="" title="">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger"
                            data-original-title="" title="">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>2020 A/L</td>
                  <td>SASIP,Nugegoda</td>
                  <td>8.30AM - 12.30PM</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info"
                            data-original-title="" title="">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success"
                            data-original-title="" title="">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger"
                            data-original-title="" title="">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>2020 A/L</td>
                  <td>SASIP,Nugegoda</td>
                  <td>8.30AM - 12.30PM</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info"
                            data-original-title="" title="">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success"
                            data-original-title="" title="">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger"
                            data-original-title="" title="">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 40px">
            <h4>Past Results</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Year</th>
                  <th>Island Rank</th>
                  <th>District Rank</th>
                  <th>Student</th>
                  <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>2013</td>
                  <td>3rd</td>
                  <td>1st</td>
                  <td>John Doe</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info"
                            data-original-title="" title="">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success"
                            data-original-title="" title="">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger"
                            data-original-title="" title="">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>2013</td>
                  <td>3rd</td>
                  <td>1st</td>
                  <td>John Doe</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info"
                            data-original-title="" title="">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success"
                            data-original-title="" title="">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger"
                            data-original-title="" title="">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>2013</td>
                  <td>3rd</td>
                  <td>1st</td>
                  <td>John Doe</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info"
                            data-original-title="" title="">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success"
                            data-original-title="" title="">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger"
                            data-original-title="" title="">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>2013</td>
                  <td>3rd</td>
                  <td>1st</td>
                  <td>John Doe</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info"
                            data-original-title="" title="">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success"
                            data-original-title="" title="">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger"
                            data-original-title="" title="">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-12">
            <h3 style="text-align: center;font-weight: 800">Reviews</h3>
          </div>

          <div class="col-md-8 col-md-offset-2">
            <div class="media-area">
              <div class="media">
                <a class="pull-left" href="#pablo">
                  <div class="avatar">
                    <img class="media-object" src="../../assets/img/avatar.jpg" alt="...">
                  </div>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Tina Andrew
                    <small>· 7 minutes ago</small>
                  </h4>
                  <h6 class="text-muted"></h6>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>

                  <div class="star-rating" title="20%" style="justify-content: left">
                    <h4 class="card-title" style="font-size: 14px;color: sandybrown"> 4.2</h4>
                    <div class="back-stars" style="justify-content: left">
                      <i class="material-icons" style="font-size: 24px">star_border</i>
                      <i class="material-icons" style="font-size: 24px">star_border</i>
                      <i class="material-icons" style="font-size: 24px">star_border</i>
                      <i class="material-icons" style="font-size: 24px">star_border</i>
                      <i class="material-icons" style="font-size: 24px">star_border</i>
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      <!--<i class="fa fa-star" aria-hidden="true"></i>-->

                      <div class="front-stars" style="width: 35%"
                           style="justify-content: left">
                        <i class="material-icons" style="font-size: 24px">star</i>
                        <i class="material-icons" style="font-size: 24px">star</i>
                        <i class="material-icons" style="font-size: 24px">star</i>
                        <i class="material-icons" style="font-size: 24px">star</i>
                        <i class="material-icons" style="font-size: 24px">star</i>
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="text-align: center;padding: 50px">
            <a href="#" target="_blank" class="btn  btn-rose">
              <strong>
                Rate My Tutor
              </strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
